# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*
.Spotlight-V100
.Trashes

# Xcode
*.xcworkspace/
*.xcuserstate
*.xcuserdata/
*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcuserdata/
*.xcodeproj/xcshareddata/WorkspaceSettings.xcsettings
*.xcodeproj/xcshareddata/xcschemes/*
*.xcodeproj/xcuserdata/*
DerivedData/
build/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserdatad
*.xcscmblueprint

# SwiftPM
.build/
Package.resolved

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Intellij
.idea/
*.iml
out/

# Copilot
copilot.data.*
.copilot/
.copilot.json

# General
*.swp
*.swo
*~
